

/* https://www.w3schools.com/css/css_grid.asp */

 /* esto no esta sirviendo para nada 
* {
  box-sizing: border-box;
}

/* Backgroud de la pagina */

 body {
  background-image: url("/img/body/back1.png");
  background-color: #160202;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 } 

 .bg {
  /* The image used */
  background-image: url("/img/body/back1.png");

  /* Full height */
  height: 100%; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


 h1 {
  color: rgb(231, 182, 19);
}


 /* grilla */

  .grilla-contenedor {
    display: grid;
    grid-template-columns: repeat(5,1fr); 
    max-height: 90%;
    max-width: 90%;
    align-content: start;
    
    padding: 15px;
    border: 1px solid red;
  
  }
  
  /* celdas de la grilla */

  .celda-grilla {
    max-height: 100%;
    max-width: 80%;
    float: left;
    padding: 15px;
    border: 1px solid rgb(72, 7, 250);
    
    content: "";
    clear: both;
    display: table;
    
  }

  /* Tamano de las imagenes son responsive */
  img {
    max-width: 100%;
    height: auto;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .footer{
  display: inline-block;
  align-self: flex-end;
  }
